# Import

In [89]:
import pandas as pd

In [90]:
enrolled_by_course = pd.read_csv('enrolled_by_course.csv', sep=';')

In [91]:
enrolled_by_course.head(5)

   Number_of_Students            course_name
0                 200  Lógica de programação
1                 178          Java para Web
2                 199            C# para Web
3                 149          Ruby on Rails
4                  42       Cursos de Python

In [92]:
# creating SQL database

In [93]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/victorfigueiredo/opt/anaconda3/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /Users/victorfigueiredo/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)

In [94]:
from sqlalchemy import create_engine,MetaData, Table
from sqlalchemy import inspect

In [95]:
# creating variable engine to use function create_engine(), function that will generate our database. as
# parameters we use sqlite:///memory: to inform that the database should be saved on the machine

In [96]:
engine = create_engine('sqlite:///:memory:')
insp = inspect(engine)

In [97]:
type(engine) # checking the type

sqlalchemy.engine.base.Engine

In [98]:
#transforming dataFrame into SQL:

enrolled_by_course.to_sql('enroll',engine)

20

In [99]:
insp = inspect(engine) #creating an Inspector object

In [101]:
print(insp.get_table_names()) #showing tables with inspector

['enroll']

# Fetching from SQL database

In [108]:
query = 'select * from enroll where Number_of_Students < 50' #to search information inside the DataFrame

In [109]:
pd.read_sql(query, engine)

   index  Number_of_Students            course_name
0      4                  42       Cursos de Python
1     17                  24  Programação funcional

In [110]:
# Changing the table configuration:

pd.read_sql_table('enroll', engine, columns =['course_name', 'Number_of_Students'])

                            course_name  Number_of_Students
0                 Lógica de programação                 200
1                         Java para Web                 178
2                           C# para Web                 199
3                         Ruby on Rails                 149
4                      Cursos de Python                  42
5                         PHP com MySql                  57
6                         .NET para web                 179
7            Novas integrações com Java                 186
8                          TDD com Java                 133
9                   Código limpo com C#                  99
10  Preparatório para certificação Java                 159
11                      Hardware básico                 111
12                Persistência com .NET                  59
13                  Desenvolvendo jogos                 139
14                     Análise de dados                 111
15                   Estatística básica                 128
16                  Internet das coisas                 159
17                Programação funcional                  24
18                Boas práticas em Java                  59
19          Orientação objetos com Java                 107